/* #mainContentWrapper {
    margin: auto; 
    width: 80%; 
    max-width: 1200px; 
} */

#tbodyOreCalendario td.event-start {
    color: white;
    text-align: center;
}

.eventTd:hover {
    cursor: pointer;
}

/* .eventTd,
.eventTd:hover ~ .eventTd {
    cursor: pointer; /* Cambia il cursore quando si passa sopra ai TD */
    transition: transform 0.2s ease; /* Aggiungi un'animazione di transizione */
}

.eventTd:hover {
    transform: scale(1.05); /* Ingrandisci leggermente il TD quando ci si posiziona sopra */
}

.event-color.hovered {
    transform: scale(1.05); /* Ingrandisce leggermente il TD al passaggio del mouse */
} */

ul::-webkit-scrollbar {
    width: 8px;
}

ul::-webkit-scrollbar-track {
    background-color: #fff;
}

ul::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

ul::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

ul {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#wrapper {
    overflow-x: hidden;
}

#accordionSidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#mainContentWrapper {
    margin-left: 2%; /* Larghezza della barra laterale */
}

#wrapper {
    margin-left: 200px; /* Larghezza della barra laterale */
}

#accordionSidebar {
    width: 200px; /* Larghezza della barra laterale */
}

th {
    cursor: pointer;
    text-align: center;
    background-color: #4e73df;
    color: white;
}

th.asc:after {
    content: ' ▲';
}

th.desc:after {
    content: ' ▼';
}

td {
    color: black;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.switch-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3% 1%;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.stats-button {
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.switch-button:hover {
    background-color: #107ed9;
}

.button-active {
    background-color: #107ed9;
}

.button-inactive {
    background-color: #b8dfff;
}

.button-hidden {
    display: none;
}