/* #mainContentWrapper {
    margin: auto; 
    width: 80%; 
    max-width: 1200px; 
} */

.swal2-container {
    z-index: 9999 !important;
}

#tbodyOreCalendario td.event-start {
    color: white;
    text-align: center;
}

.eventTd:hover {
    cursor: pointer;
}

/* .eventTd,
.eventTd:hover ~ .eventTd {
    cursor: pointer; /* Cambia il cursore quando si passa sopra ai TD
    transition: transform 0.2s ease; Aggiungi un'animazione di transizione 
}*/

.eventTd:hover {
    transform: scale(1.05);
    /* Ingrandisci leggermente il TD quando ci si posiziona sopra */
}

.event-color.hovered {
    transform: scale(1.05);
    /* Ingrandisce leggermente il TD al passaggio del mouse */
}

ul {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#wrapper {
    overflow-x: hidden;
}

#accordionSidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.accountName {
    color: black;
}

.accountNameLi {
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: black;
}

.accountNameLi:hover {
    letter-spacing: 3px;
    background-color: hsl(221, 78%, 51%);
    color: white;

    .userAccount {
        color: white;
    }

    .accountName {
        color: white;
    }
}

#mainContentWrapper {
    margin-left: 2%;
    /* Larghezza della barra laterale */
}

#wrapper {
    margin-left: 200px;
    /* Larghezza della barra laterale */
}

#accordionSidebar {
    width: 200px;
    /* Larghezza della barra laterale */
}

th {
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    color: #107ed9;
    border: 1px solid #107ed9 !important;
    line-height: normal;
}

#dashBoardTr,
#dashBoardTr>td {
    cursor: pointer;
    border: 1px solid white;
    background-color: #121212;
    transition: all 0.3s ease;
}

#dashBoardTr:hover,
#dashBoardTr:hover>td {
    background-color: #107ed9;
    color: white;
    border: 1px solid white !important;
    transition: all 0.3s ease;
}

td.dashBoardTable {
    text-align: center;
    background-color: #fff;
    color: #107ed9;
    border: 1px solid #107ed9 !important;
    line-height: normal;
    font-weight: bold;
}

#dataNasc {
    width: 15%;
}

td {
    border: 1px solid #107ed9 !important;
    color: black;
    text-align: center;
}

th.asc:after {
    content: ' ▲';
}

th.desc:after {
    content: ' ▼';
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.switch-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3% 1%;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.stats-button {
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.switch-button:hover {
    background-color: #107ed9;
}

.button-active {
    background-color: #107ed9;
}

.button-inactive {
    background-color: #b8dfff;
}

.button-hidden {
    display: none;
}

.presentBtns {
    margin-right: 2%;
}



/*CARD DASHBOARD*/
.dashboardTitles {
    font-weight: bold;
    margin-top: 5%;
}

.dashboardCard {
    display: inline-block !important;
    position: relative;
    width: 47%;
    height: 300px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    color: white;
    text-align: center;
}

.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 98.25%;
    height: 290px;
    z-index: 2;
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #00f;

    /* Dark mode colors and gradient */
    background: #121212;
    /* Fallback for browsers that don't support gradients */
    background: linear-gradient(135deg,
            #121212 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            #121212 50%,
            #121212 75%,
            #1a1a1a 75%,
            #1a1a1a);
    background-size: 40px 40px;

    /* Animation */
    animation: move 4s linear infinite;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 250px;
    border-radius: 50%;
    background-color: #107ed9;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}




#nGiocatoriH1,
#goalMigliorMarcatore,
#assistMigliorAssistman {
    text-shadow: 0 0 10px #107ed9;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 10px #107ed9;
    }

    50% {
        text-shadow: 0 0 20px #107ed9;
    }

    100% {
        text-shadow: 0 0 10px #107ed9;
    }
}

img {
    margin-top: 5%;
    width: 150px;
    border-radius: 10px;
}



/*BUTTONS*/
.animated-button {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #107ed9;
    box-shadow: 0 0 0 2px #107ed9;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #107ed9;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #107ed9;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #fff;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #107ed9;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}















.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inputs>* {
    margin: 6px;
}

.radio-input:checked+.radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.radio-input:checked+.radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
}

.radio-input:checked+.radio-tile .radio-icon svg {
    fill: #2260ff;
}

.radio-input:checked+.radio-tile .radio-label {
    color: #2260ff;
}

.radio-input:focus+.radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus+.radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: #2260ff;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
}

.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}

.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}












.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #107ed9;
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button {
    transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease !important;
}

/*hover effect*/
button:hover {
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}

.suggestionsBox {
    position: absolute;
    margin-top: 10%;
    width: 10%;
    float: left;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #107ed9;
    color: #107ed9;
}

.suggestion:hover {
    background-color: #e0e0e0;
}














.tooltip-container {
    align-items: center;
    position: relative;
    transition: all 0.3s;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid rgb(211, 211, 211);
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.svgIcon {
    width: 16px;
    height: auto;
}

.tooltip {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background-color: #107ed9;
    border: 1px solid black;
    border-radius: 12px;
    color: white;
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background-color: #107ed9;
}

.tooltip-container:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}